<%- include('header') %>
    <div class="container-fluid position-relative d-flex p-0">


        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="/admin" class="">
                                <img src="/images/icon/logo.png" alt="fuemech">
                            </a>
                        </div>
                        <form action="/admin/cpass" method="post">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="cpass" name="cpass" placeholder="current password">
                                <label for="cpass" style="color: white;">Currrent password</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="npass" name="npass" placeholder="new password">
                                <label for="npass" style="color: white;">New Password</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="cfpass" name="cfpass" placeholder="Confirm password">
                                <label for="cfpass" style="color: white;">Confirm Password</label>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">change password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <%- include('footer') %>